.header {
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}
.header input {
    width: 10%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #fbb034;

    font-size: 24px;
}

.navLinks {
    margin: 15px 0;
}
.link {
    text-decoration: none;
    letter-spacing: 0.15rem;
    border-radius: 0.5rem;
    color: #f2f2f2;
    border: 1.5px solid #f2f2f2;
    cursor: pointer;
    padding: 0.35rem 0.6rem;
    color: #fff;
    background: #000;
    transition: all 0.2s linear;
    display: inline-block;
    margin: 0 10px;
}

.link:hover {
    color: #000;
    background: #fff;
}