* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "montserrat", sans-serif;
    color: #fff;
    background-color: #000;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    height: 100vh;
}

.header {
    padding: 50px 20px 30px 20px;
    margin-bottom: 15px;
}

.header h1 {
    font-size: 50px;
    color: #fbb034;
    text-shadow: 1px 3px rgba(0, 0, 0, .9);
    margin-bottom: 15px;
}

.header input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #fbb034;
    color: #f2f2f2;
    font-size: 24px;
}

.header input::placeholder {
    color: #ccc;
}

.city {
    font-size: 35px;
    font-weight: 500;
    margin: 15px 0;
    text-shadow: 1px 3px rgba(0, 0, 0, .8);
}

.temp {
    font-size: 100px;
    font-weight: 700;
    text-shadow: 1px 5px rgba(0, 0, 0, .1);
    margin: 15px 0;
}

.desc {
    text-transform: capitalize;
    font-size: 25px;
    margin: 15px 0;
    font-style: italic;
    text-shadow: 1px 3px rgba(0, 0, 0, .8);
}

.minMax {
    margin: 15px 0;
    font-size: 24px;
    text-shadow: 1px 3px rgba(0, 0, 0, .8);
}

.navLinks {
    margin: 15px 0;
}

.link {
    text-decoration: none;
    letter-spacing: 0.15rem;
    border-radius: 0.5rem;
    color: #f2f2f2;
    border: 1.5px solid #f2f2f2;
    cursor: pointer;
    padding: 0.35rem 0.6rem;
    color: #fff;
    background: #000;
    transition: all 0.2s linear;
    display: inline-block;
    margin: 0 10px;
}

.link:hover {
    color: #000;
    background: #fff;
}