:root {
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
  }

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  }
h1 {
  font-size: 4rem;
  line-height: 0;
  font-size: 3rem;
  }
.section {
  padding: 5rem 0;
}
#value {
    font-size: 6rem;
    font-weight: bold;
  }
.btn {
    padding: 0.375rem 0.75rem;
    margin: 0.5rem;
  }